---
title: Projects
layout: landing
description: Software is Hard™
image: assets/images/code-banner.jpg
nav-menu: true
---

<section class="spotlights">
	{% for page in site.pages %}
		{% if page.project == true %}
			<section>
				<a href="{{ page.url }}" class="image">
					<img src="{{ page.image }}" alt="" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>{{ page.title }}</h3>
						</header>
						<p>{{ page.shortDescription }}</p>
						<ul class="actions">
							<li><a href="{{ page.url }}" class="button">Learn more</a></li>
						</ul>
					</div>
				</div>
			</section>
		{% endif %}
	{% endfor %}
