.hidden {
  display: none
}

.languages-typed {
  text-transform: uppercase;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header nav {
  font-size: 0.8em !important;
}

@media (min-width: 425px) {
  header nav {
    font-size: 0.9em !important;
  }
}

@media (min-width: 490px) {
  header nav {
    font-size: 1em !important;
  }
}

table {
  @extend table.alt;
}

.page {
  &>.image.main {
    margin: 0 0 0.5em 0;
  }
  & .inner {
    padding-top: 1em !important;
    
    img {
      width: 100%;
      max-width: 48em;
    }
  }
}
